.trade-header{
background:#161a20;
padding:12px;
color:#fff;
border-bottom:1px solid #242933;
}


.top-pair{
display:flex;
align-items:center;
justify-content:space-between;
}


.pair-button{
background:none;
border:0;
color:#fff;
font-size:18px;
font-weight:bold;
}


.favorite{
background:none;
border:0;
color:#f0b90b;
font-size:26px;
}


.main-price{
display:flex;
align-items:center;
gap:15px;
margin-top:15px;
}


.price{
font-size:32px;
font-weight:bold;
}


.change{
font-size:18px;
font-weight:bold;
}


.positive{
color:#0ecb81;
}


.negative{
color:#f6465d;
}


.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-top:18px;
}


.stats div{
background:#0b0e11;
padding:10px;
border-radius:8px;
}


.stats span{
display:block;
color:#848e9c;
font-size:12px;
}


.stats strong{
display:block;
margin-top:5px;
font-size:14px;
}
