.bottom-nav{

    position:fixed;
    bottom:0;
    left:0;
    right:0;

    height:70px;

    background:#090b10;
    border-top:1px solid #303642;

    display:flex;
    justify-content:space-around;
    align-items:center;

    z-index:1000;

}

.bottom-nav a{

    color:white;
    text-decoration:none;

    display:flex;
    flex-direction:column;
    align-items:center;

    font-size:12px;

}

.bottom-nav span{

    margin-top:5px;

}
