.binance-layout{
background:#0b0e11;
color:#fff;
min-height:100vh;
}


.top-bar{
height:70px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
border-bottom:1px solid #222;
}


.stats{
display:flex;
gap:30px;
color:#aaa;
font-size:14px;
}



.main-area{
display:grid;
grid-template-columns:200px 1fr 320px;
height:calc(100vh - 70px);
}



/* الأسواق */

.market-list{
background:#111;
border-right:1px solid #222;
padding:10px;
}


.market-row{
padding:14px;
cursor:pointer;
border-bottom:1px solid #222;
}


.market-row:hover{
background:#1e2329;
}



/* الوسط */

.center-panel{
padding:10px;
}


.chart-container{
height:480px;
background:#111;
border:1px solid #222;
}


.order-panel{
margin-top:10px;
background:#111;
padding:10px;
}


.recent{
margin-top:10px;
background:#111;
padding:10px;
}




/* الجانب */

.right-panel{
background:#111;
border-left:1px solid #222;
padding:10px;
}


.orderbook{
height:450px;
overflow:auto;
}


.wallet{
margin-top:20px;
}



/* السعر */

.live-price{
color:#0ecb81;
font-size:22px;
font-weight:bold;
}


.bottom-trade{
margin-top:15px;
background:#111;
padding:15px;
border-top:1px solid #222;
}


.center-panel{
display:flex;
flex-direction:column;
}

.chart-container{
order:1;
}

.recent{
order:2;
}

.bottom-trade{
order:3;
margin-top:15px;
}


.center-panel{
display:flex;
flex-direction:column;
}

.chart-container{
order:1;
}

.recent{
order:2;
}

.bottom-trade{
order:3;
margin-top:15px;
}

