.bottom-nav{
position:fixed;
left:0;
right:0;
bottom:0;
height:65px;
background:#11161c;
border-top:1px solid #202630;
display:flex;
justify-content:space-around;
align-items:center;
z-index:999;
}

.bottom-nav button{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:3px;
background:none;
border:none;
color:#8d97a3;
font-size:12px;
cursor:pointer;
}

.bottom-nav .active{
color:#f0b90b;
font-weight:bold;
}

.nav-link{
text-decoration:none;
color:inherit;
}

