.futures-header{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
background:#111827;
color:#fff;
border-bottom:1px solid #222;
}

.left{
display:flex;
gap:10px;
align-items:center;
}

.mode{
color:#f0b90b;
font-weight:bold;
}

.pair{
font-size:18px;
font-weight:700;
}

.price{
font-size:18px;
font-weight:bold;
color:#16c784;
text-align:right;
}

.change{
color:#16c784;
font-size:14px;
text-align:right;
}
