.positions{
background:#111827;
padding:15px;
border-radius:12px;
margin-top:15px;
}

.position-card{
background:#1b2430;
padding:12px;
border-radius:10px;
margin-top:10px;
}

.top{
display:flex;
justify-content:space-between;
margin-bottom:8px;
}

.long{
color:#0ecb81;
font-weight:bold;
}

.short{
color:#f6465d;
font-weight:bold;
}

.profit{
color:#0ecb81;
font-weight:bold;
}

.loss{
color:#f6465d;
font-weight:bold;
}

.position-card button{
width:100%;
margin-top:10px;
padding:10px;
background:#f6465d;
color:white;
border:none;
border-radius:8px;
}

.empty{
color:#888;
text-align:center;
padding:20px;
}
